#main{
    width:99%;
}
#header{
background-color: white;
width: 100%;
height: 40px;
border: 1px solid white;
box-shadow: 0px 10px;


}
#header h1{
    text-align: center;
    position:relative;
    bottom:19px;

    
    
}
#left{
    width:50%;
    height:900px;
    background-color: #f4d319;
    float:left;

}
#right{
    width:50%;
    height:500px;
    background-color: white;
    float:left;
}
#div-foot{
    background-color:rgb(35, 35, 91);
width: 100%;
height:400px;
display:flex;
color:white;
position:relative;
bottom:450px;

}
#div-foot h1{
    position:relative;
    color:white;
    left:430px;
    top:0px;
    font-size:25px;
}
#first{
    position:relative;
    left:470px;
    top:40px;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#first-below{
    position:relative;
    left:235px;
    top:100px;
    font-size:small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#second{
    position:relative;
    left: -120px;
    top:180px;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#second-below{
    position:relative;
    left:-290px;
    top:260px;
    font-size:small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#div-foot img{
    width:260px;
    height:260px;
    position:relative;
    left:400px;
    top:80px;

}
#gateway{
    position:relative;
    left:-230px;
    bottom:450px;
    width:300px;
    border:1px solid;
    border-radius: 20px;
}
#building{
    position:relative;
    left:510px;
    bottom:450px;
    width:300px;
    border:1px solid;
    border-radius: 20px;
}
#para1{
    border-radius:20px;
    border:1px solid;
    margin-left: 750px;
    margin-right:400px;
    padding:10px;
    position:relative;
    bottom:480px;
    right:110px;
    background-color: white;
}
#para2{
    border-radius:20px;
    border:1px solid;
    margin-left: 750px;
    margin-right:400px;
    padding:10px;
    position:relative;
    background-color: white;
    bottom:480px;
    right:100px;
    
}
#para1 button{
    border-radius:10px;
    height:30px;
    background-color: black;
    color:white;
}
#para2 button{
    border-radius:10px;
    height:30px;
    background-color: black;
    color:white;
}